on: [push]

name: cargo checks

env:
  RUSTFLAGS: "-Dwarnings"

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Run format check
        run: cargo fmt --check

      - name: Run cargo check
        run: cargo check

      - name: Run clippy
        # run: cargo clippy --all-targets --all-features
        run: cargo clippy
